# Ignore everything by default
/*
!.gitignore
!/00-收件箱/
!/20-领域/
/00-收件箱/*
/20-领域/*
!/00-收件箱/知识沉淀/
/00-收件箱/知识沉淀/*
!/00-收件箱/知识沉淀/**
!/20-领域/工作/
/20-领域/工作/*
!/20-领域/工作/个人工作流自动化系统/
/20-领域/工作/个人工作流自动化系统/*
!/20-领域/工作/个人工作流自动化系统/**
